a{text-decoration: none; color: white;}
body{margin: 0; color: white; background: green;}

/*Структура сайта*/
div.header{background-color: black;  margin: 0 auto;}
.topmenu{padding: 30px 20px;}
.topmenu a{margin: 10px; font-size: 12px;}
.cap {background: blue; padding: 100px 50px;}
.grey{font-size: 30px; color: grey;}
strong{font-size: 50px; color: white;}

.search-line{padding: 0;  background: black;}
div.grey{float: left; padding: 60px 40px;}
.button {background: purple; float: right; font-size: 30px; padding: 60px;}

div.clear{clear: both;}