@model Bank.Models.ProgramModelCredit

@{
    ViewBag.Title = "Select";
}

@section Content {
    <div class="container">
        <div class="row">
            <div class="col-5">
                <form asp-controller="Deposit" asp-action="SelectCreditProgram">
                    <div class="form-group">
                        <label>Programs</label><br>
                        @{
                            var items = Model.Programs.Select(x => new SelectListItem(x.Name, x.Id.ToString()));
                        }
                        <select asp-for="@Model.ProgramId" asp-items="@items" class="form-control"></select>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Next" />
                </form>
            </div>
        </div>
    </div>
}
